################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Application/bin/Debug/netstandard2.1
/Application/obj
/Application.Models/bin/Debug/netstandard2.1
/Application.Models/obj
/Application.Services/bin/Debug/netstandard2.1
/Application.Services/obj
/Domain/bin/Debug/netstandard2.1
/Domain/obj
/Domain.Models/bin/Debug/netstandard2.1
/Domain.Models/obj
/Domain.Repository/bin/Debug/netstandard2.1
/Domain.Repository/obj/Debug/netstandard2.1
/Domain.Repository/obj
/IApplication/bin/Debug/netstandard2.1
/IApplication/obj
/IDomain/bin/Debug/netstandard2.1
/IDomain/obj
/Infrastructure/bin/Debug/netstandard2.1
/Infrastructure/obj
/Infrastructure.CrossCutting.IoC/bin/Debug/netstandard2.1
/Infrastructure.CrossCutting.IoC/obj
/Infrastructure.Data/obj
/Infrastructure.Entitys/bin/Debug/netstandard2.1
/Infrastructure.Entitys/obj
/Infrastructure.Interface/bin/Debug/netstandard2.1
/Infrastructure.Interface/obj/Debug/netstandard2.1
/Infrastructure.Interface/obj
/SqlSugar/bin/Debug/netstandard2.0
/SqlSugar/obj
