
@{
    ViewData["Title"] = "权限管理表单";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}



<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-inline">
            <div id="PermissionParentId" class="xm-select-demo"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-inline">
            <input type="text" name="PermissionName" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限动作</label>
        <div class="layui-input-inline">
            <input name="PermissionAction" type="text" placeholder="权限动作" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">权限类型</label>
        <div class="layui-input-inline">
            <select name="PermissionType" lay-verify="required" lay-search="">
                <option value="0">菜单</option>
                <option value="1">按钮</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-inline">
            <input name="IsValid" value="true" type="checkbox" lay-filter="switch" lay-skin="switch" lay-text="是|否" checked/>
        </div>
    </div>
  
    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="luo-submit" id="luo-submit">提交</button>
    </div>

</div>


@section scripts{

    <script>

        layui.config({
            base: '/lib/layuiExtend/' //假设这是你存放拓展模块的根目录
        }).extend({ //设定模块别名
            xmSelect: 'xm-select/xm-select' //如果 mymod.js 是在根目录，也可以不用设定别名
        });
        layui.use(['jquery', 'form', 'xmSelect'], function () {
            var $ = layui.$,
                form = layui.form,
                xmSelect = layui.xmSelect;
            var PermissionParentId = xmSelect.render({
                el: '#PermissionParentId',
                name: "PermissionParentId",
                model: { label: { type: 'text' } },
                tree: {
                    show: true,
                    strict: false,
                    expandedKeys: [-1],
                },
                on: function (data) {
                    if (data.isAdd) {
                        return data.change.slice(0, 1)
                    }
                },
                height: 'auto',
            });

            $.ajax({
                type: "Post",
                url: "/Admin/User/PermissionSelect",
                dataType: "json",
                async: false,
                success: function (data) {
                    PermissionParentId.update({
                        data: data
                    });
                    //设置默认值
                    PermissionParentId.setValue([{ name: '顶级', value: "" }], null, true);
                },
                error: function (jqXHR) {
                    alert("发生错误：" + jqXHR.status);
                }
            });
          
            //监听提交
            form.on('submit(luo-submit)', function (data) {
                //layer.alert(JSON.stringify(data.field), {
                //    title: '最终的提交信息'
                //});
                //var selectArr = PermissionParentId.getValue('valueStr');
                //console.log(selectArr);
                return false;
            });
           
        });

    </script>
}
