
@{
    ViewData["Title"] = "权限管理表单";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}


    
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-inline">
            <div id="demo4" class="xm-select-demo"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-inline">
            <input type="text" name="PermissionName" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-verify="phone" placeholder="请输入号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <input type="text" name="role" lay-verify="required" placeholder="请输入角色类型" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-inline">
            <input type="checkbox" lay-filter="switch" name="switch" lay-skin="switch" lay-text="通过|待审核">
        </div>
    </div>

</div>


@section scripts{

    <script>

        layui.config({
            base: '/lib/layuiExtend/' //假设这是你存放拓展模块的根目录
        }).extend({ //设定模块别名
            xmSelect: 'xm-select/xm-select' //如果 mymod.js 是在根目录，也可以不用设定别名
        });
        layui.use(['jquery', 'form', 'xmSelect'], function () {
            var $ = layui.$,
                form = layui.form,
                xmSelect = layui.xmSelect;
            var demo4 = xmSelect.render({
                el: '#demo4',
                model: { label: { type: 'text' } },
                tree: {
                    show: true,
                    strict: false,
                    expandedKeys: [-1],
                },
                on: function (data) {
                    if (data.isAdd) {
                        return data.change.slice(0, 1)
                    }
                },
                height: 'auto',
            })

            //这里模拟ajax
            setTimeout(function () {
                demo4.update({
                    data: [
                        {
                            name: '销售员', value: -1, children: [
                                { name: '张三', value: 100, children: [] },
                                { name: '李四1', value: 2 },
                                { name: '王五1', value: 3, disabled: true },
                            ]
                        },
                        {
                            name: '奖品', value: -2, children: [
                                {
                                    name: '奖品3', value: -3, children: [
                                        { name: '苹果3', value: 14 },
                                        { name: '香蕉3', value: 15 },
                                        { name: '葡萄3', value: 16 },
                                    ]
                                },
                                { name: '苹果2', value: 4, disabled: true },
                                { name: '香蕉2', value: 5 },
                                { name: '葡萄2', value: 6 },
                            ]
                        },
                    ]
                })

                //设置默认值
                demo4.setValue([
                    { name: '李四1', value: 2 },
                    { name: '苹果3', value: 14 },
                ], null, true)

            }, 300)




        });
                //基于 layui 表格的树形扩展 tableTreeDj
                 //xmSelect下拉多选
                //tableTree 表格树 tableTree
                //eleTree 树组件
                //tableSelect 下拉表格选择器
                //authtree 无限级权限控制树
    </script>
}
