
@{
    ViewData["Title"] = "权限管理";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}



<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    角色筛选
                </div>
                <div class="layui-inline">
                    <select name="rolename" lay-filter="LAY-user-adminrole-type">
                        <option value="-1">全部角色</option>
                        <option value="0">管理员</option>
                        <option value="1">超级管理员</option>
                        <option value="2">纠错员</option>
                        <option value="3">采购员</option>
                        <option value="4">推销员</option>
                        <option value="5">运营人员</option>
                        <option value="6">编辑</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-event" data-type="query">查询</button>
                <button class="layui-btn layuiadmin-btn-event layui-btn-danger" data-type="delete">删除</button>
                <button class="layui-btn layuiadmin-btn-event" data-type="add">添加</button>
            </div>

            <table id="table-permission" lay-filter="table-permission"></table>

            <script type="text/html" id="table-action">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.config({
            base: '/lib/layuiExtend/' //假设这是你存放拓展模块的根目录
        }).extend({ //设定模块别名
            treeTable: 'treetable-lay/treeTable' //如果 mymod.js 是在根目录，也可以不用设定别名
        });
        layui.use(['jquery','treeTable'], function () {
            let table = layui.table,
                $ = layui.jquery,
                treeTable = layui.treeTable;

           

            // 字段配置
            const tableCols = [[
                { type: 'checkbox', fixed: 'left' },
                { field: 'permissionId', title: '权限编号' },
                { field: 'permissionName', title: '权限名称' },
                { field: 'permissionType', title: '权限类型' },
                { field: 'permissionAction', title: '权限动作' },
                { field: 'permissionParentId', title: '权限父级' },
                { field: 'isValid', title: '是否有效' },
                { title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-action' }
            ]];


            // 渲染树形表格
            var insTb = treeTable.render({
                elem: '#table-permission',
                tree: {
                    iconIndex: 1,           // 折叠图标显示在第几列
                    isPidData: true,        // 是否是id、pid形式数据
                    idName: 'permissionId',  // id字段名称
                    pidName: 'permissionParentId'     // pid字段名称
                },
                cols: tableCols
            });






            //事件
            var active = {
                query: function () {
                    treeTable.reload('table-permission', {
                        method: 'post',
                        url: '/Admin/User/PermissionTable',
                        where: {
                          
                        }, //设定异步数据接口的额外参数
                    });
                },
                delete: function () {
                    var checkStatus = table.checkStatus('LAY-user-back-role')
                        , checkData = checkStatus.data; //得到选中的数据

                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }

                    layer.confirm('确定删除吗？', function (index) {

                        //执行 Ajax 后重载
                        /*
                        admin.req({
                          url: 'xxx'
                          //,……
                        });
                        */
                        table.reload('LAY-user-back-role');
                        layer.msg('已删除');
                    });
                },
                add: function () {
                    let index = layer.open({
                        type: 2,
                        title: '添加权限',
                        area: ['auto', '500px'],
                        content: '/Admin/User/PermissionForm',
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submit = layero.find('iframe').contents().find("#luo-submit");

                            //监听提交
                            iframeWindow.layui.form.on('submit(luo-submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                layer.alert(JSON.stringify(field), {
                                    title: '提交信息'
                                });
                                //提交 Ajax 成功后，静态更新表格中的数据
                                $.ajax({
                                    type: "Post",
                                    url: "/Admin/User/PermissionCreate",
                                    data: {
                                        PermissionName: field.PermissionName,
                                        PermissionType: field.PermissionType,
                                        PermissionAction: field.PermissionAction,
                                        PermissionParentId: field.PermissionParentId,
                                        IsValid: field.IsValid,
                                    },
                                    dataType: "json",
                                    success: function (result) {
                                        layer.alert(JSON.stringify(result), {
                                            title: '最终的提交信息'
                                        });
                                    },
                                    error: function (jqXHR) {
                                        alert("发生错误：" + jqXHR.status);
                                    }
                                });
                                table.reload('table-permission');
                                layer.close(index); //关闭弹层
                            });

                            submit.trigger('click');
                        }
                    });
                    layer.iframeAuto(index);
                }
            }
            $('.layui-btn.layuiadmin-btn-event').on('click', function () {
                console.log("点击按钮");
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
}



