
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}

<style>
    .layui-layout-admin .Luo-Left-Body {
        right: 225px;
        left: 0;
    }
    .layadmin-side-shrink .Luo-Left-Body,
    .layadmin-side-shrink .layui-layout-admin .layui-body,
    .layadmin-side-shrink .layui-layout-admin .layui-footer {
        left: 0;
        right:60px;
    }
   
</style>



    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">

            <!-- 头部区域 Start-->
            @await Component.InvokeAsync("Header")
            <!-- 头部区域 End-->
            <!-- 侧边菜单 Start-->
            @await Component.InvokeAsync("SideMenu")
            <!-- 侧边菜单 End-->
            <!-- 页面标签 Start-->
            <partial name="_PageTabs" />
            <!-- 页面标签 End-->
            <!-- 主体内容 -->
            <div class="Luo-Left-Body layui-body " id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="/Admin/Home/Welcome" class="layadmin-iframe" frameborder="0"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">
            layui.config({
                base: '/lib/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use('index');
        </script>
    }
