

@{
    ViewData["Title"] = "欢迎页";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card layui-form">
                <div class="layui-card-header">欢迎使用OnePlusOne—API综合管理平台</div>
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field site-demo-button" style="">
                        <legend>平台说明</legend>
                        <div style="padding:10px;">
                            <blockquote class="layui-elem-quote">
                                1.该平台目的是为了OnePlusOne 提供统一的对内接口; <br />
                                2.通过本平台可以快速的迭代另外的产品;            <br />
                                3.通过本平台可以达到产品切割,分离,让开发人员更专注的关注自己手头的工作;<br />
                            </blockquote>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field site-demo-button" style="">
                        <legend>接口说明文档</legend>
                        <div style="padding:10px;">
                            <blockquote class="layui-elem-quote">
                                Sorry,该模块正在快马加鞭开发中...
                            </blockquote>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field site-demo-button" style="">
                        <legend>接入案例说明</legend>
                        <div style="padding:10px;">
                            <blockquote class="layui-elem-quote">
                                Sorry,该模块正在快马加鞭开发中...
                            </blockquote>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>
